@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
:root{
    --color-piske-app: #41f1b6;
    --color-piske-app-dark: #24795c;
}
.danger-variables{
    --color-piske-app: #ff7782;
    --color-piske-app-dark: #7a393e;
}

.warning-variables{
    --color-piske-app: #ffbb55;
    --color-piske-app-dark: #7e5c29;
} 

.content-alert-piske-app{
    opacity: 0;
    font-family: poppins;
    border: .2rem solid var(--color-piske-app-dark);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: all 3s ease;
    padding: .7rem;
    border-radius: 1rem;
    background: var(--color-piske-app);
    display: flex;
}

.content-alert-piske-app span{
    color: var(--color-piske-app-dark);
    margin: auto;
    padding-right: .7rem;
}

.content-alert-piske-app h4{
    font-size: 1.1rem;
    margin: 0;
}

.content-alert-piske-app-text {
    padding: 0;
}
.content-alert-piske-app-text span{
    color: black;
    padding: 0;
    font-size: .9rem;
}

@media screen and (max-width: 768px) {
    .content-alert-piske-app{
        top: 1rem;
        right: 1rem;
        height: 4rem;
        padding: .3rem;
    }
    .content-alert-piske-app h4{
        font-size: 1rem;
        margin: 0;
    }
    
    .content-alert-piske-app-text span{
        font-size: .7rem;
    }
}