# dependencies
/node/node_modules
/node/coverage

# yarn
/node/yarn-debug.log*
/node/yarn-error.log*
/node/yarn.lock

#eslint
/node/.eslintcache

# dependencies
/front/node_modules
/front/coverage

# yarn
/front/yarn-debug.log*
/front/yarn-error.log*
/front/yarn.lock

#eslint
/front/.eslintcache