# Arquivos e pastas gerados pelo Next.js
node_modules/
.next/
out/

# Arquivos e pastas gerados pelo editor de código
.vscode/
.idea/
*.log

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local

# Outros arquivos e pastas
.DS_Store
