.results{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-width: 50%;
    
}
.container_1_results{
    display: flex;
    align-items: center;
}