.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    text-align: center;
    min-width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botons_container{
    display: flex;
    gap: 10px;
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .container_data{
    display: flex;
    flex-direction: column;
  }