@page
@model XLSolutions.Pages.Store.LogInModel
@{
}

<h1 class="position-static" style="color:gold;font-family:'Comic Sans MS'; text-shadow:-3px 2px #0094ff">I think you can come in now and hopefully spend some cash!</h1>

<div style="margin-top:50px">
    <form method="post">
        <br />
        <b>
            <span style="margin-right:7px">What is your nick name:</span>
            <input style="outline-offset:5px; margin-bottom:10px" type="text" asp-for="UserTextline" size="30">
        </b>

        <br />
        <b>
            <span style="margin-right:30px">Enter your password:</span>
            <input type="password" style="outline-offset:5px" asp-for="PwdTextline" size="30">
            <br />
        </b>
        <input type="submit" value="Hop in!" @*asp-action="@Model.LogIn()"*@ 
               class="btn btn-dark font-weight-bold text-white" style="margin-left:280px; margin-top:10px" />            
    </form>
</div>

<div class="position-relative" style="margin-right:200px; margin-top:20px; z-index:10">
    <img class="offset-xl-8" src="~/aquateencarl.png" alt="Annoyed Big Carl!" width="250" height="500">
</div>
<div class="position-static">
    <h6 class="text-danger" style="font-family:Arial, Helvetica, sans-serif; z-index:-1">
        Attention: This is a phones store! Please, do not get confused!
    </h6>
</div>