@page
@model XLSolutions.Pages.Store.SignUpModel
@{
}

<h1 class="position-static" style="color:gold;font-family:'Comic Sans MS'; text-shadow:-3px 2px #0094ff">Sign up and get all the advantages of our premium services!</h1>

<div style="margin-top:50px">
    <form action="http://jkorpela.fi/cgi-bin/echo.cgi"
          enctype="multipart/form-data" method="post">
        <br />
        <b>
            Please, tell us your NAME:
            <input style="outline-style:none" type="text" name="textline" size="30">
        </b>
    </form>
    <form action="http://jkorpela.fi/cgi-bin/echo.cgi"
          enctype="multipart/form-data" method="post">
        <br />
        <b>
            Choose your Heroe Name:
            <input style="outline-offset:5px" type="text" name="textline" size="30">
        </b>
    </form>
    <form action="http://jkorpela.fi/cgi-bin/echo.cgi"
          enctype="multipart/form-data" method="post">
        <br />
        <b>
            <span style="margin-right:30px">Create Your Password:</span>
            <input style="outline-offset:5px" type="text" name="textline" size="30">
            <br />
            <font class="text-danger" style="font-family:Arial, Helvetica, sans-serif; margin-left:200px" size="1">
                We won't be verifying it, so don't let your fingers slip!
            </font>
        </b>
    </form>        
    <a class="btn btn-dark font-weight-bold text-white" style="margin-left:280px; margin-top:10px">Gimme Yo Moneeh!</a>
</div>

<div class="position-relative" style="margin-right:200px; margin-top:20px; z-index:10">
    <img class="offset-xl-8" src="~/SpaceGhostPNG.png" alt="Awesome Looking Space Ghost!" width="500" height="500">
</div>
<div class="position-static">
    <h6 class="text-danger" style="font-family:Arial, Helvetica, sans-serif; z-index:-1">
        Attention: This is a phones store! Please, do not get confused!
    </h6>
</div>











@*//-------Check it out later, see if it's for any use-------*@
@*<p>
        Please specify a file, or a set of files:<br>
        <input type="file" name="datafile" size="40">
    </p>
    <div>
        <input type="submit" value="Send">
    </div>*@