@model UploadModel;
@{
    ViewData["Title"] = "Upload csv file";
}

<h2>@ViewData["Title"]</h2>


<div class="panel panel-default">
    <div class="panel-body">

        <form method="POST" asp-action="FileUpload" asp-controller="Upload" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" asp-for="@Model.CsvFile" accept=".csv" required />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
