<h1>Importar produtos</h1>

<%= form_tag upload_file_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group">
    <%= file_field_tag :file, class: '' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Import CSV", class: 'btn btn-info' %>
  </div>
<% end %>