<div>
    <h1>Comparador de ações</h1>
</div>
<div class="inputs">
    <label>Ação escolhida:</label>
    <input [(ngModel)]="stockName" type="text" placeholder="Nome da ação" />
    <label class="">Ações a serem comparadas:</label>
    <input [(ngModel)]="stock1" type="text" placeholder="Ação 1" />
    <input [(ngModel)]="stock2" type="text" placeholder="Ação 2" />

    <button>Comparar</button>
</div>
<div class="results">
    <table>
        <tr>
            <th>Nome:</th>
            <th>Último preço:</th>
            <th>Data atualização:</th>
        </tr>
        <tr *ngFor="let stock of compare">
            <td>{{ stock?.name }}</td>
            <td>{{ stock?.lastPrice }}</td>
            <td>{{ stock?.pricedAt }}</td>
        </tr>
    </table>
</div>