body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-line;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post {
  margin-left: 16px;
}

.comment {
  margin-left: 20px;
}

.thumbs {
  overflow: auto;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #12146e;
}

/** App.css **/
.about {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: 0px;
  margin-top: -42px;
  background-color: #c7f7d9;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}

.App-header .header-button {
  padding: 1px 6px;
  margin: 0px 3px;
}

.App-header .header-button:first-of-type {
  margin-left: 40px;
}

.App-header .header-button.active {
  background-color: #a1ddb9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
