<div>
    <h1>Projeção de ganhos</h1>
</div>
<div class="inputs">
    <input type="text" placeholder="Nome da ação" />
    <input type="number" placeholder="Quantidade de compra" />
    <input type="date" placeholder="Data de compra" placeholder="Data de Compra" /><label>Data de Compra</label>
    <button>Simular ganhos</button>
</div>
<div class="results">
    <table>
        <tr>
            <th>Ações Compradas</th>
            <th>Data de compra</th>
            <th>Preço Pago</th>
            <th>Preço Atual</th>
            <th>Saldo</th>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
        </tr>
    </table>

</div>