<div>
    <h1>Projeção de ganhos</h1>
</div>
<div class="inputs">
    <input [(ngModel)]="stockName" type="text" placeholder="Nome da ação" />
    <input [(ngModel)]="purchasedAmount" type="text" placeholder="Quantidade de compra" />
    <label>Data de Compra:</label>
    <input [(ngModel)]="purchasedAt" type="date" placeholder="Data de compra" placeholder="Data de Compra" />
    <button (click)="getGains()">Simular ganhos</button>
</div>
<div class="results">
    <table>
        <tr>
            <div class="cell">
                <th>Ações Compradas:</th>
                <td>{{ gains?.purchasedAmount }}</td>
            </div>
            <div class="cell">
                <th>Data de compra</th>
                <td>{{ gains?.purchasedAt }}</td>
            </div>
            <div class="cell">
                <th>Preço Pago</th>
                <td>{{ gains?.pricePurchased }}</td>
            </div>
            <div class="cell">
                <th>Preço Atual</th>
                <td>{{ gains?.currentPrice }}</td>
            </div>
            <div class="cell">
                <th>Saldo</th>
                <td>{{ gains?.gains }}</td>
            </div>
        </tr>
    </table>
</div>