<div>
    <h1>Comparador de ações</h1>
</div>
<div class="inputs">
    <label>Ação escolhida:</label>
    <input [(ngModel)]="stockName" type="text" placeholder="Nome da ação" />
    <label class="">Ações a serem comparadas:</label>
    <input [(ngModel)]="stockName" type="text" placeholder="Ação 1" />
    <input [(ngModel)]="stockName" type="text" placeholder="Ação 2" />

    <button>Comparar</button>
</div>
<div class="results">
    <table>
        <tr>
            <div class="cell">
                <th>Nome:</th>
                <td>aaa</td>
            </div>
            <div class="cell">
                <th>Último preço:</th>
                <td>111</td>
            </div>
            <div class="cell">
                <th>Data atualização:</th>
                <td>yyyy-mm-dd</td>
            </div>
        </tr>
    </table>
</div>