.footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #555;
    width: 100%;
    height: 70px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .container p {
    color: #fff;
    font-size: 16px;
  }
  @media only screen and (max-width: 768px) {
    .footer{
        position: inherit;
    }
}