<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/alertAPP.css">
    <!-- MATERIAL ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    
    <title>Piske</title>

</head>

<body>
    <main>
        <h1>Aparelhos</h1>
        <div id="container">
            <div style="display: flex;">
                <div class="filtro">
                    <div>
                        <label for="">Modelo</label><br>
                        <select name="" id="modelo">
                        </select>
                    </div>
                    <div>
                        <label for="">Fabricante</label><br>
                        <select name="" id="fabricante">
                        </select>
                    </div>
                    <div>
                        <label for="">Plano</label><br>
                        <select name="" id="plano">
                        </select>
                    </div>
                </div>
                <div class="input">
                    <form action="" method="post" enctype=multipart/form-data>
                        <label for="csv">
                            <span class="material-icons-sharp">upload_file</span>
                            <input type="file" name="csv" id="csv">    
                        </label>
                        <input type="submit" value="ok">
                    </form>
                </div>
            </div>
            
            <table class="table">
                
            </table>
        </div>
    </main>
    <script src="../static/alertsAPP.js"></script>
</body>
</html>