<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alert.css') }}">
    
    <title>Piske</title>
</head>
<style>
    body {
        margin: 0;
        display: flex;
    }
    form{
        align-items: center;
    }
    #container {
        align-items: center;
        width: 80vw;
    }
    .table{
        text-align: center;
        width: 100%;
        border: .5px solid black;
        border-collapse: collapse;
    }
    .table tr td{
        border-bottom: .5px solid black;
    }
</style>
<body>
    <form action="" method="post" enctype=multipart/form-data>
        <label for="csv">CSV</label>
        <input type="file" name="csv" id="csv">
        <input type="submit" value="ok">
    </form>
    <div class="filtro">
        <select name="" id="modelo">
            
        </select>
        <select name="" id="fabricante">

        </select>
        <select name="" id="plano">

        </select>
    </div>
    <div id="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Carrier Plan</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="tb">

            </tbody>
        </table>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    
    <script> // filtro selects
        function get_table() {
            axios.get('/get_filter').then(resp => {
                const select_modelo = document.getElementById('modelo')
                const select_fabricante = document.getElementById('fabricante')
                const select_plano = document.getElementById('plano')

                const modelos = resp.data.model
                const fabricantes = resp.data.manufacturer
                const planos = resp.data.plan

                let inner_modelos = ""
                modelos.forEach(modelo => {
                    inner_modelos +=   `<option value="">
                                            ${modelo[0]}
                                        </option>`
                })
                select_modelo.innerHTML = inner_modelos

                let inner_fabricante = ""
                fabricantes.forEach(fabricante => {
                    inner_fabricante +=`<option value="">
                                            ${fabricante[0]}
                                        </option>`
                })
                select_fabricante.innerHTML = inner_fabricante

                let inner_plano = ""
                planos.forEach(plano => {
                    inner_plano += `<option value="">
                                        ${plano[0]}
                                    </option>`
                })
                select_plano.innerHTML = inner_plano
                
            })
        }
        get_table()
    </script>
    
    <script> // get itens
        axios.get('/get_itens').then(resp => {
            const table = document.getElementById('tb')
            const list = resp.data.itens;
            const status = resp.status;
            
            if (!resp.data){
                document.getElementById('container').innerHTML = "<h3>Você não tem itens cadastrados</h3>"
            }
                
            let html = ''

            list.forEach(item => {
                html += `
                        <tr>
                            <td style="display:none;">${item[0]}</td>
                            <td>${item[1]}</td>
                            <td>${item[2]}</td>
                            <td>${item[3]}</td>
                            <td>${item[4]}</td>
                            <td>${item[5]}</td>
                            <td>${item[6]}</td>
                        </tr>
                        `
            })
            table.innerHTML = html
            
            //alertAPP({action: 'succes', title: 'Titulo do alerta', text: 'Texto de descrição do alerta em questão', icon: 'check_circle'})
        });

    </script>
    
    <script> // import csv
        const form = document.querySelector("form");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            axios.post("/create", formData, {
                headers: {
                "Content-Type": "multipart/form-data",
                },
            })
            .then((res) => {
                
            })
            .catch((e) => {
                console.log(e);
            });
            get_table()
        });
    </script>
    
    <script>

    </script>

    <script src="./static/alertsAPP.js"></script>
</body>
</html>