<div class="container">
	<h1>Cellphone List</h1>
	

	<div id="cellphone_list">
		<% if cellphones.empty? %>
			<p>There are no cellphone records in the database.</p>
		<% else %>
			<%= render partial: 'cellphone_grid', locals: { cellphones: cellphones } %>
		<% end %>
	</div>
</div>