
<% if flash[:errors] %>
	<% flash[:errors].each do |flash| %>
		<p> <%= flash %> </p>
	<% end %>
<% end %>

<h1>Cellphone List</h1>

<%= render partial: 'cellphone_list', locals: { cellphones: @cellphones } %>

<%= render partial: 'import_form' %>
