<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',
            filename='css/bootstrap.min.css')}}">
        <title>Loja virtual</title>
    </head>
    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}
        <div class="alert {{ category }}">
            {{ message }}
        </div>

        {% endfor %}


        {% endif %}
        {% endwith %}


        <main class="container-fluid w-25 border p-5 mt-5">
            <form class="row" action="/inventory/upload"
                method="post" enctype=multipart/form-data>
                <div class="row">
                    <label class="form-label" for="input-file">Selecione os
                        arquivos
                        para Upload:</label>
                    <input class="form-control" type="file" id="input-file"
                        name="file">
                    <label for="" class="form-text">Formatos de arquivo aceito:
                        <strong>.csv</strong></label>
                </div>
                <div class="row">
                    <input class="col-3 btn btn-success me-1" type="submit"
                        value="Enviar">
                    <a class="col-3 btn btn-dark ms-2" href="/inventory">Invetorio</a>
                </div>

            </form>
        </main>

    </body>
</html>